:root {
  --color-beige: #DAB484;
  --color-lightgray: #F1F0ED;
  --color-peach: #FED4C2;
  --color-pink: #FDB3DA;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  font-family: var(--font-metrophobic), sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

h1 {
  font-size: 6rem;
  line-height: 1.1;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

p {
  font-size: 1rem;
}
