:root {
  --color-beige: #DAB484;
  --color-lightgray: #F1F0ED;
  --color-peach: #FED4C2;
  --color-pink: #FDB3DA;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --radius-card: 1rem;
  --radius-cta: 5em;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: clip;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: auto 1rem 1fr;
  align-items: start;
  font-family: var(--font-metrophobic), sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

main,
body > div:has(h1.next-error-h1) {
  grid-column: 2;
  grid-row: 3;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

@media (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }
}

p {
  font-size: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
